
/* AboutUS */

.abtstrip {
  background-image: url('/assets/images/aboutusparkingaddabanner.jpg');
  height: 180px;
  text-align: center;
  padding: 5%;
  font-family: 'Varela Round', sans-serif;
}

.abtstrip h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

.fe-sub-head{
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

.fe-icon{
  padding-left: 10%;
  width: 100px;
  height: 80px;
  font-family: 'Varela Round', sans-serif;
}

.features
{
  
  padding-left: 5%;
  font-family: 'Varela Round', sans-serif;
}
.ebasp{
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}

.fe-icon-img
{
  width:60px;
  height: 60px;
  font-family: 'Varela Round', sans-serif;
}

.ebaspimg{
  padding-left: 50px;
  font-family: 'Varela Round', sans-serif;
}


.aboutcontent {
    padding: 4%;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    
}

.col-sm-6 p .oc {
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Varela Round', sans-serif;
}

.col-sm-6 p .oc {
    color: #c50000;
    font-family: 'Varela Round', sans-serif;
}

.container .ovom {
    text-align: center;
    border: solid 2px #c50000;
    background-color: #c50000;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
}

.headingg{
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

.abtcnt{
    font-size: 19px;
    padding-left: 2%;
    font-family: 'Varela Round', sans-serif;
}

ul{
    font-size: 19px;
    list-style-type : square;
    padding-left: 8%;
    font-family: 'Varela Round', sans-serif;
}

.ovcnt{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.omcnt1{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.omcnt2{
    padding-left: 5%;
    font-family: 'Varela Round', sans-serif;
}

.omcnt3{
    padding-left: 5%;
    font-family: 'Varela Round', sans-serif;
}

.omcnt4{
    padding-left: 5%;
    font-family: 'Varela Round', sans-serif;
}






/* Slider in about page neas and meadia */

#about-us {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.about-slider {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}



/* Slider news and meadia  END*/






/* AboutUS */

.abtstrip {
  background-image: url('/assets/images/aboutusparkingaddabanner.jpg');
  height: 180px;
  text-align: center;
  padding: 5%;
  font-family: 'Varela Round', sans-serif;
}

.abtstrip h1 {
  font-size: 44px;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
}

.fe-sub-head{
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

.fe-icon{
  padding-left: 10%;
  width: 100px;
  height: 80px;
  font-family: 'Varela Round', sans-serif;
}

.features
{
  
  padding-left: 5%;
  font-family: 'Varela Round', sans-serif;
}
.ebasp{
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}

.fe-icon-img
{
  width:60px;
  height: 60px;
  font-family: 'Varela Round', sans-serif;
}

.ebaspimg{
  padding-left: 50px;
  font-family: 'Varela Round', sans-serif;
}
/* 
Map Tag */
.map {
  height: 400px;
  width: 100%;
}

/* 
Testonomials start */




/* Testonomial End */



/* Add your CSS styles for testimonials section here */
.testimonials-section {
  overflow: hidden;
  position: relative;
}

.testimonials-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-card {
  flex: 0 0 33.333%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.testimonial-content {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-author img {
  width: 50px; /* Adjust the image width as needed */
  border-radius: 50%; /* Make the image circular */
  margin-right: 10px;
}

.testimonial-author p {
  font-weight: bold;
}











