/* Blog Styles */
.blog {
    padding: 50px 0;
}

.blog-item {
    margin-bottom: 50px;
}

.img-blog {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.blog-content h2 {
    font-size: 34px;
    color: #000000;
    margin-bottom: 20px;
}

.blog-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .blog-content h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .blog-content p {
        font-size: 14px;
        margin-bottom: 15px;
    }
}
