


.blogstrip
    {
        background-image: url('/assets/images/blogspagebanner.jpg');
        height: 180px;
        text-align: center;
        padding: 5%;
        font-family: 'Varela Round', sans-serif;
    }

    .blogstrip h1{
        font-size: 44px;
        font-weight: bold;
        font-family: 'Varela Round', sans-serif;
    }

/*********************
**** 2 blog in same page css***

**
**********************/



h3 {
  color: black; /* Set the desired font color */
}


body {
  font-family: 'Varela Round', sans-serif;
  
}

.blog-content {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.img-blog {
  max-width: 100%;
  height: auto;
}

.blog-header-class h1 {
  font-size: 34px;
  color: #000000;
}

.blog-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color:#c50000;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #c50000;
}

  /* 2 Blogs in one Page End */