 /* ContactUs */


 .contactstrip {

    background-image: url('/assets/images/contactpagebanner.jpg');

    height: 180px;

    text-align: center;

    padding: 5%;

    font-family: 'Varela Round', sans-serif;

}



.contactstrip h1 {

    font-size: 50px;

    font-weight: bold;

    font-family: 'Varela Round', sans-serif;

}


