*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
    outline: none !important;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

.border-shape {
    background: #c50000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    font-family: 'Varela Round', sans-serif;
}

.border-shape::before {
    background: #c50000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}

.border-shape::after {
    background: #c50000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}




/*FOOTER*/
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}

.top_header {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Varela Round', sans-serif;
}

.top_header section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}

.top_header span {
    padding: 0 1rem;
    font-family: 'Varela Round', sans-serif;



}

.top_header .fa {
    color: #c50000;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;


}

/* footer .border-shape {
    width: 15%;

}

footer .border-shape::before {
    width: 100%;
    left: 120px;
}

footer .border-shape::after {
    width: 100%;
    right: 120px;
} */

footer .bottom_content section {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: Center;
    font-family: 'Varela Round', sans-serif;
}

.bottom_content .smicons a i {
    padding: 10px;
    border: solid 2px #c50000;
    border-radius: 50px;
    font-family: 'Varela Round', sans-serif;

}

.bottom_content .smicons a i:hover {
   color:#c50000;
   font-family: 'Varela Round', sans-serif;
}

.bottom_content .navtabs a {
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
}

.bottom_content .navtabs a:hover {
    color:#c50000;
    font-family: 'Varela Round', sans-serif;
}

.top_header section span i
{
    border: solid 2px #c50000;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
.top_header section span i:hover
{
    color:#c50000;
    font-family: 'Varela Round', sans-serif;
} 

.top_header section span i:hover
{
    background-color:#c50000;
    color:#ffffff;
    font-family: 'Varela Round', sans-serif;
} 



.bottom_content a {
    margin: 0 20px;
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
    font-family: 'Varela Round', sans-serif;
}

.bottom_content a:hover {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
}


.copyright {
    padding: 0.8em 0;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
}



@media (max-width:820px) {
    .top_header {
        padding: 1rem;
        display: block;
        font-family: 'Varela Round', sans-serif;
    }

    .top_header section {
        margin: 40px 0;
        align-items: left;
        justify-content: left;
        font-family: 'Varela Round', sans-serif;
    }

    footer .bottom_content section {
        padding: 1rem;
        display: block;
        font-family: 'Varela Round', sans-serif;
    }

    footer .bottom_content section a {
        padding: 1rem;
        font-size: 12px;
        margin: 0 5px;
        display: inline-block;
        font-family: 'Varela Round', sans-serif;
    }
}

        /* Social icons */
        .socicons {
            font-size: 28px; /* Adjust the size as needed */
        }
        
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

      