/* Home Page */

.cplogo:hover {
    color: #c50000;
}

li {
    list-style-type: none;
}

li a:hover {
    color: #c50000;
}

.socicons:hover {
    color: #c50000;
}




    .custom-card {
        width: 100%;
        height: auto;
        max-width: 250px; /* Set the maximum width of the card */
        margin: 0 auto; /* Center the card on the screen */
        margin-bottom: 20px; /* Add some bottom margin between the cards */
        border: 1px solid #ccc; /* Add a border for better visibility */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow effect */
        transition: all 0.3s ease; /* Add a smooth transition effect */
    }

    .custom-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
    }

    .custom-card img {
        width: 100%; /* Make sure the image inside the card takes up 100% of the card's width */
        height: auto; /* Allow the image's height to adjust accordingly */
    }

    .custom-card .card-body {
        padding: 20px;
    }

     

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

/* 
    video in home page */
    @media (max-width: 767px) {
        .social-share li {
            margin-right: 10px;
            /* Adjust margin or padding as needed for smaller screens */
        }
    }

    #video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
        overflow: hidden;
    }
    
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    


