@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/*************************
*******Typography******
**************************/

/* .ourrservicess
{
  background-color: #ffffff;
} */


.dialer{
  color:#ffffff;
}

.dialer:hover{
  color: #c50000;
}

.mailerto{
  color:#ffffff;
}

.mailerto:hover{
  color:#c50000;
}

.fe-heading {
  font-size: 25px;
  font-weight: bold;
}



.fe-icon-img {
  width: 70%;
  height: 70%;
  margin-bottom: 50%;
}

.fe-sub-head {
  font-size: 22px;

}

.fe-content {
  font-size: 15px;
}



.media-body-content {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 30%;
}

.footer-shortlinks-top {
  font-size: 20px;
  font-weight: bold;
}

.media-heading-content {
  color: black;
}

.media-heading-content:hover {
  color: #cc0000;
}

body {
  background: #fff;
  font-family: 'Varela Round', sans-serif;
  color: #4e4e4e;
  line-height: 22px;

    overflow-x: hidden;


}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Varela Round', sans-serif;
  color: #4e4e4e;
}

h1 {
  font-size: 36px;
  color: #fff;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4 {
  font-size: 16px;
}

a {
  color: #c50000;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
  transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #c50000;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}


.btn-primary:hover,
.btn-primary:focus {
  background: #c50000;
  outline: none;
  box-shadow: none;
}

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left {
  margin-right: 20px;
}

.media>.pull-right {
  margin-left: 20px;
}

body>section {
  padding: 30px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search {
  display: inline-block;
}

.navbar>.container .navbar-brand {
  margin-left: 0;
}

.top-bar {
  padding: 10px 0;
  background: #191919;
  border-bottom: 1px solid #222;
  line-height: 28px;
  font-family: 'Varela Round', sans-serif;
}

.top-number {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

.top-number p {
  margin: 0
}

.social {
  text-align: right;
}

.social-share {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #383838;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #c50000;
  color: #fff;
}



.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

.navbar-nav {
  margin-top: 12px;
}

.navbar-nav>li {
  margin-left: 35px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav>li>a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #c50000;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #c50000;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, .85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
  position: absolute;
  top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
  background-color: #c50000;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/



#feature {
  background: #ffffff;
  padding-bottom: 40px;
}

.features {
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2 {
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i {
  font-size: 48px;
  height: 80px;
  width: 80px;
  margin: 3px;
  border-radius: 20%;
  line-height: 110px;
  text-align: center;
  background: #ffffff;
  color: #c50000;
  border: 3px solid #000000;
  /* box-shadow: inset 0 0 0 5px #000000; */
  /* -webkit-box-shadow: inset 0 0 0 5px #000000; */
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #c50000;
  color: #fff;
  box-shadow: inset 0 0 0 5px #c50000;
  -webkit-box-shadow: inset 0 0 0 5px #c50000;
  border: 3px solid #c50000;
}

#recent-works .col-xs-12.col-sm-4.col-md-3 {
  padding: 0;
}

#recent-works {
  padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img {
  width: 100%;
}

.recent-work-wrap .recent-work-inner {
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3 {
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a {
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #c50000;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 30px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}





/*************************
********* Contact Us CSS ******
**************************/

.gmap-area {
  background-image: url("/assets/images/map.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 1%;
  height: 400px;
  width: 800px;
}

.gmap {
  border: 5px solid #f6f5f0;
  border-radius: 1%;
  height: 400px;
  width: 800px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none;
}

.gmap-area .map-content address h5 {
  font-weight: 700;
  /* font-size: 16px; */
}

/* 
Contact us */
#contact-page {
  padding-top: 0;
}

#contact-page .contact-form .form-group label {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color: #a3a2a2;
  box-shadow: none;
}

textarea#message {
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}


/*********************
****blog page css*****
**********************/


/* 

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog_category li {
  float: none;
  margin-bottom: 20px;
}

.blog_category li a {
  background: #f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover {
  background: #c50000;
  color: #fff;
}

.badge:before {
  border-color: transparent transparent transparent #c50000;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #c50000;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li>div {
  margin-left: 70px;
}

ul.faq li>div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore {
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta>span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #c50000;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta>span {
  color: #ccc;
}

.blog .blog-item .entry-meta>span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination>li>a {
  border: 1px solid #F1F1F1;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination>li>a i {
  margin-left: 5px;
  margin-right: 5px;
}

ul.pagination>li.active>a,
ul.pagination>li:hover>a {
  background-color: #c50000 !important;
  border-color: #c50000 !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}


ul.tag-cloud,
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li {
  display: inline-block;
  margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover {
  background: #c50000;
  color: #fff;
}

.sidebar-gallery li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}
 

/**********************
**blog single page css*
**********************/

.reply_section {
  background: #f5f5f5;
  border-radius: 5px;
}

.post_reply {
  margin-left: 10px;
  margin-top: 45px;
}

.post_reply img {
  width: 85px;
  height: 85px;
  border: 5px solid #D5D8DD;
}

.post_reply ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.post_reply ul li {
  float: left;
}

.post_reply ul li a {
  display: block;
}

.post_reply ul li a i {
  border: 1px solid #DDDDDD;
  border-radius: 39px;
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
  margin-right: 3px;
  padding-top: 7px;
  text-align: center;
  width: 30px;
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus {
  background: none repeat scroll 0 0 #D34836;
}

.post_reply ul li a i:hover {
  opacity: .5;
}

.post_reply_content {
  margin: 30px;
}

.post_reply_content h1 a:hover {
  color: #FFC800;
}

.post_reply_content h4 {
  margin-bottom: 50px;
}

.reply_section .media-body {
  display: inherit;
}

.comment_section .media-body {
  display: inherit;
}

#comments_title {
  color: #4e4e4e;
  font-weight: 700px;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 30px;
}

.post_reply_comments:before {
  border-color: transparent #F0F0F0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 75px;
  position: absolute;
  top: 20px;
}

.post_reply_comments h3,
.post_reply_content h3 {
  margin-top: 0;
}

.post_reply_comments h1 a:hover {
  color: #c50000;
}

.post_reply_comments h4 {
  color: #c4c4c5;
  font-weight: 400;
}

.post_reply_comments p {
  padding-bottom: 30px;
}

.post_reply_comments a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #c50000;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.post_reply_comments a:before {
  border-color: #c50000 transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}

.post_reply_comments h2 a {}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}


