
/* .ourrservicess
{
  background-color: #ffffff;
} */


.dialer{
    color:#ffffff;
  }
  
  .dialer:hover{
    color: #c50000;
  }
  
  .mailerto{
    color:#ffffff;
  }
  
  .mailerto:hover{
    color:#c50000;
  }
  
  .fe-heading {
    font-size: 25px;
    font-weight: bold;
  }
  
  
  
  .fe-icon-img {
    width: 70%;
    height: 70%;
    margin-bottom: 50%;
  }
  
  .fe-sub-head {
    font-size: 22px;
  
  }
  
  .fe-content {
    font-size: 15px;
  }
  
  
  
  .media-body-content {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
  }
  
  .footer-shortlinks-top {
    font-size: 20px;
    font-weight: bold;
  }
  
  .media-heading-content {
    color: black;
  }
  
  .media-heading-content:hover {
    color: #cc0000;
  }
  
  body {
    background: #fff;
    font-family: 'Varela Round', sans-serif;
    color: #4e4e4e;
    line-height: 22px;
  
      overflow-x: hidden;
  
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    color: #4e4e4e;
  }
  
  h1 {
    font-size: 36px;
    color: #fff;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  a {
    color: #c50000;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
  }
  
  a:hover,
  a:focus {
    color: #d43133;
  }
  
  hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
  }
  
  
  .btn-primary {
    padding: 8px 20px;
    background: #c50000;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
  }
  
  
  .btn-primary:hover,
  .btn-primary:focus {
    background: #c50000;
    outline: none;
    box-shadow: none;
  }
  
  .btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
  }
  
  .btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  a:hover,
  a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
  }
  
  .dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
  }
  
  .center h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .media>.pull-left {
    margin-right: 20px;
  }
  
  .media>.pull-right {
    margin-left: 20px;
  }
  
  body>section {
    padding: 30px 0;
  }
  
  .center {
    text-align: center;
    padding-bottom: 55px;
  }
  
  .scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
  }
  
  .lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
  }
  
  @-webkit-keyframes scaleIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }


  
/* Services */

.fapsstrip
{
    background-image: url('/assets/images/whybookparkingparkingadda.jpg');
    height: 180px;
    text-align: center;
    padding: 5%;
    font-family: 'Varela Round', sans-serif;
}

.fapsstrip h1{
    font-size: 44px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}

.container .htb{
    font-size: 25px;
    background-color: #c50000;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
}

.cwttrae{
    color: #c50000;
    font-size: 20px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.cwttraelink{
    color: #c50000;
    font-family: 'Varela Round', sans-serif;
}

.cwttraelink:hover{
    color: #000000;
    font-family: 'Varela Round', sans-serif;
}



/* Service-Rent&earn */
.cplogo:hover {
    color: #c50000;
}

li {
    list-style-type: none;
}

li a:hover {
    color: #c50000;
}

.socicons:hover {
    color: #c50000;
}


/* Video */

/* Style for the video container */
#video-section {
  padding: 20px; /* Add some padding to the video container */
}

/* Style for the video element */
video {
  width: 100%; /* Make the video responsive by setting its width to 100% */
  height: auto; /* Allow the height to adjust proportionally based on the width */
  display: block; /* Remove any default inline spacing */
  margin: 0 auto; /* Center the video horizontally */
}

/* Style for the video controls */
video::-webkit-media-controls {
  display: none; /* Hide the default video controls for Chrome/Safari */
}

